* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #e7e7e7;
  font-family: Arial, sans-serif;
}

.head {
  padding: 50px 50px 35px;
}

.logo {
  max-width: 250px;
  display: block;
  margin: 0 auto;
}

.card {
  max-width: 600px;
  padding: 40px 45px;
  background-color: white;
  border-radius: 15px;
  margin: 0 auto;
  color: #333333;
  font-size: 16px;
}

.title {
  color: #af4e8a;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.subtitle {
  text-align: center;
  margin: 0;
  padding: 25px 0;
}

.paragraph {
  line-height: 1.5;
  margin-bottom: 40px;
}

.link {
  color: #af4e8a;
  text-decoration: none;
  font-size: 13px;
}

.footer {
  margin-top: 30px;
  text-align: center;
}

#ir9u {
  color: #078f66;
  font-size: 71px;
  font-family: Verdana, Geneva, sans-serif;
}

#i686 {
  margin: 10px auto;
  max-width: 1500px;
  width: auto;
  height: auto;
  padding-top: 40px;
  padding-right: 45px;
  padding-bottom: 0px;
  padding-left: 45px;
  align-items: center;
  align-self: center;
  align-content: center;
}

#izkno {
  font-size: 44px;
  font-family: Verdana, Geneva, sans-serif;
}

#iib4a {
  color: rgb(34, 34, 34);
  font-weight: 700;
}

#i2feg {
  color: rgb(114, 114, 114);
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#iw3iu {
  color: rgb(114, 114, 114);
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#igf5o {
  color: rgb(114, 114, 114);
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#ifgs5 {
  color: rgb(34, 34, 34);
  font-weight: 700;
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#ite6w {
  color: rgb(34, 34, 34);
  font-weight: 700;
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#ial3s {
  color: rgb(34, 34, 34);
  font-weight: 700;
}

#i2n5z {
  color: rgb(114, 114, 114);
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#i5k5z {
  color: rgb(114, 114, 114);
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#i93r8 {
  color: rgb(114, 114, 114);
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#iys6z {
  color: rgb(34, 34, 34);
  font-weight: 700;
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.gjs-grid-column {
  flex: 1 1 0%;
  padding: 5px 0;
}

.gjs-grid-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  min-height: auto;
  padding: 10px 0;
}

#iptn9i {
  flex-basis: 30%;
  flex-grow: 0;
}

#mainbody {
  padding: 10px;
  font-size: 20px;
  font-family: Verdana, Geneva, sans-serif;
}

#ihumcj {
  text-align: center;
}

@media (max-width: 992px) {
  .gjs-grid-row {
    flex-direction: column;
  }
}